<!DOCTYPE html>
<html>
    <head>
        <title>
            messaEg
        </title>
    </head>
    <body>
        <img src="/img/py.png" alt="img logo">
        {{{home}}}

        {{{footer}}}

        {{{header}}}
    </body>
</html>