<form class="form-eg">
    <div class="form-eg">
        <label>Name:
            <input name="submitted-name" autocomplete="name">
        </label>
    </div>
    <div class="form-eg">
        <label>Contact Number:
            <input name="submitted-name" autocomplete="name">
        </label>
    </div>
            
