<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1>This is Index.</h1> 
        <img src="../images/logo.jpeg" alt="logo" style="background-color: black;"> 
        
    </body>
</html>